@media (max-width: 600px) {

  .products{
    flex-direction:column;
    height: auto;
  }
  .product{
    margin-top: auto;
  }
  .main_section{
    padding: 4%;
  }
  .beneficios, .mentions{
    flex-direction:column;
  }


}
